fastapi==0.110.0
uvicorn==0.29.0
dlib-bin==20.0.1
opencv-python==4.9.0.80
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
numpy==1.26.4
Pillow==10.2.0
psycopg2-binary==2.9.9